<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>
<h1><%=title%></h1>
<form action="/find_pw" method="post">
	<table width="400" border="1">
		<tr>
			<th>ID</th>
			<td><input type="text" name="id"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="완료">
				<input type="reset" value="취소">
			</td>
		</tr>
	</table>
</form>
</body>
</html>